<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                font-size: 0.9em;
                font-family: Arial,sans-serif;
            }
            .header {
                width: 100%;
                padding:30px 0;
                text-align: left;
                background: #ffffff;
                color: #000000;
                border-bottom: 2px solid #960630;
            }
        </style>
    </head>
    <body>
        <section class = "header">
            <img src="/app/app/templates/RomaCapitaleLogo.png" height="80" />
        </section>
    </body>
</html>